<div class="container pvl">
  <div class="by-center ptm">
    <br /><br />
    <div class="muted">
      <h3 class="mbm">You're almost there!</h3>
      <div class="">There is only one simple step left. Download desktop application and start using Surf!</div>
      <div class="mbl">
        <%= render partial: 'downloads' %>
      </div>
    </div>
  </div>
</div>
