<div class="lock-screen">
  <div>
    <img src="{{image}}" alt="" width="88" height="23" />
    <br /><br /><br /><br />
    <h1>{{message}}</h1>
    <p>Check your connection to Internet and try again.</p>
    <button class="button js-try-again">Try Again</button>
  </div>
</div>
