<div class="by-center">
  <img src="{{image}}" alt="" width="110" class="illustration" />
  <h1>Bring your friends</h1>
  <p class="muted">
    Invite friends to Surf app.<br />
    Enter their email addresses below.
  </p>
</div>
<div class="states js-states">
  <div class="primary">
    <div class="field js-field">
      <input type="text" placeholder="Email" class="js-input" />
      <span class="spinner"></span>
      <span class="js-error"></span>
      <button class="button js-button">Invite</button>
    </div>
  </div>
  <div class="secondary by-center">
    <h2>Invite Sent!</h2>
    <p>You've successfully sent and invite <br /> to <strong class="js-email"></strong></p>
  </div>
</div>
