<div class="sidebar-region">
  <img src="{{image}}" alt="" style="">
</div>
<div class="mainbar-region">
  <div class="initial-loading">
    <div class="loader">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
