<span class="fade">&amp;</span>
<span class="name">
  {{name}}
  {{#if shared}}
    <i class="icon-user" title="Shared Interest"></i>
  {{/if}}
</span>
<span class="count js-count">{{posts_count}}</span>
