<div class="js-author-region"></div>
<div class="js-text-region"></div>
<div class="body">
  <i class="icon-paper-clip {{attachment.format}}"></i>
  <div class="title">{{attachment.title}}</div>
  <div class="domain">
    {{attachment.domain}}
  </div>
  <div class="js-tags-region"></div>
</div>
