<div class="js-author-region"></div>
<div class="title">{{image.title}}</div>
<div class="js-text-region"></div>
<div class="picture">
  <a href="{{image.url}}" target="_blank"><span class="icon-open"></span></a>
  <img src="{{image.url}}" alt="title" width="250" />
</div>
<div class="js-tags-region"></div>
