<div class="js-author-region"></div>
<div class="js-text-region"></div>
<div class="body">
  <div class="image" style="background-image: url('{{link.image}}')"></div>
  <div class="title">{{link.title}}</div>
  <div class="description">{{{link.description}}}</div>
  <div class="extra">
    <div class="js-tags-region"></div>
    <div class="domain">
      {{link.domain}}
    </div>
  </div>
</div>
