<div style="border-top: 1px dashed #DADADA; border-bottom: 1px dashed #DADADA; padding: 30px 0; margin-bottom: 10px;">
  <h1 style="font-size: 32px; font-weight: normal;">New Features in SurfApp.io</h1>
  <br />
  <p>Hello <strong><%= @user.full_name%></strong>!</p>
  <p>
    We're happy to annouce that a bunch of new features had been rolled out recently in Surf desktop application v0.3.6.
    And we'd like you to check them out and leave a feedback, if you have some ;)
  </p>
  <br />
  <h2 style="margin-bottom: 10px;">Sharing</h2>
  <p>Ever wanted to share your interests with friends? Now you can!</p>
  <p>Simply invite other surf users to your interest and
  now you can collaborate on it's contents. Search users by email or name makes it easy to find collaborators and add them.</p>
  <br />
  <h2 style="margin-bottom: 10px;">More Powerfull Hashtags</h2>
  <p>Now categorizing and filtering content by hashtags becomes even more convenient. Surf autosuggest previously used hashtags
  as you type them. And it makes filtering even easier by showing most used hashtags in header, so that you could filter your content
  in couple of clicks.</p>
  <br />
  <h2 style="margin-bottom: 10px;">Miscellaneous changes and improvements</h2>
  <p>We are trying to constantly improve user experience with Surf. Each release includes bugfixes, performance improvements
  and slight design changes. Enjoy!</p>
  <br />
  <p>Thanks!<br />
  SurfApp.io Team</p>
</div>
<table style="width: 100%;">
  <tr>
    <td>
      <small style="font-size: 12px">
        Sent from
        <a href="http://surfapp.io" style="">SurfApp.io</a>
      </small>
    </td>
    <td style="text-align: right">
      <!-- <small><a href="">I don't want to receive emails like this.</a></small> -->
    </td>
  </tr>
</table>
<br />
