<div class="premium">
  <h1 class="mbl">Get even more organized and productive</h1>
  <h3 class="mbl">with Surf's premium features</h3>
  <div class="mbl">
    <%= link_to "Get Premium", premium_upgrade_path, class: 'button' %>
  </div>
  <div class="muted">Only <strong>$36</strong></div>
  <small class="muted">One time Payment</small>
</div>

<div class="plans">
  <div class="plan">
    <h2 class="mbm">Free</h2>
    <ul class="featurelist">
      <li>Up to 10 interests</li>
      <li>Up to 3 collaborators</li>
      <li>Hashtags, Labels, filters</li>
      <li class="negative">Premium themes</li>
      <li class="negative">Teams</li>
      <li class="negative">Priority support</li>
      <li class="negative">Upcomming Premium features</li>
    </ul>
  </div>
  <div class="plan">
    <h2 class="mbm">Premium $36</h2>
    <ul class="featurelist">
      <li>Unlimited interests</li>
      <li>Unlimited collaborators</li>
      <li>Hashtags, Labels, filters</li>
      <li>Premium themes</li>
      <li>Teams</li>
      <li>Priority support</li>
      <li>Upcomming Premium features</li>
    </ul>
  </div>
</div>
