<div class="by-center">
  <img src="{{image}}" alt="" width="110" class="illustration" />
  <h1>Add Interest</h1>
  <p class="muted">
    Enter interest name without spaces.<br />
    Use '_' or '-' symbols for multiword interest names.
  </p>
</div>
<div class="field js-field">
  <span class="error-message js-error"></span>
  <span class="symbol">&amp;</span>
  <input type="text" placeholder="Interest name" class="js-interest-name" />
  <small class="hint js-enter">ENTER &crarr;</small>
  <span class="spinner"></span>
</div>
