<div class="by-center">
  <img src="{{image}}" alt="" width="110" class="illustration" />
  <h1>Delete Interest</h1>
  <p class="muted">
    Are you sure you want to delete &{{name}}?<br />
    All posts withing this interest will be lost.
  </p>
  <div class="buttons">
    <button class="button js-confirm">Confirm</button>
    <button class="button pale js-cancel">Cancel</button>
  </div>
</div>
