<div class="by-center">
  <img src="{{image}}" alt="" width="110" class="illustration" />
  <h1>Edit Interest</h1>
  <p class="muted">
    Enter interest name without spaces.<br />
    Use '_' or '-' symbols for multiword interest names.
  </p>
</div>
<div class="field js-field">
  <span class="symbol">&amp;</span>
  <input type="text" placeholder="Interest name" value="{{name}}" class="js-interest-name" />
  <span class="spinner"></span>
  <small class="error-message js-error"></small>
  <button class="button js-button">Update</button>
</div>
