<div class="by-center">
  <br /><br />
  <h1>Share Interest</h1>
  <p class="muted">
    Share your interest with your friends.<br />
    And collaborate with other Surfapp users easily.  </p>
</div>

<div class="js-members-region inner-list">

</div>

<div class="field attached js-field">
  <input type="text" placeholder="Find by name or email" value="" class="js-user-input" />
  <span class="spinner"></span>
  <small class="error-message js-error"></small>
</div>
<div class="js-suggestions-region suggestions"></div>
