<div class="js-suggestions"></div>
<textarea name="name" rows="1" class="js-post-text js-hashtagable" placeholder="Enter link or write a note"></textarea>
<small class="enter js-enter">ENTER &crarr;</small>
